.navbar {
    background-color:#EFE9E7;
}

.btn  {
    background-color:rgb(1, 1, 59);
    border-color:white;
    border-radius:black
}

.btn-hover {
    background-color:cyan
}
.carousel {
    border-radius:10px;
}

.accordion {
    padding-top:30px;
    color:black

}

.col {
    padding-top:30px;
}

.map {
    border-radius:10px;
}

.video {
    border-radius:10px;
}

.card {
    background-color:#111344;
    color:white;
}
